@import "heart.scss";
@import "star.scss";
@import "trophy.scss";
@import "snes-jp-icon.scss";
@import "skull.scss";

.nes-pixel-art {
  position: relative;
  display: inline-block;

  @mixin setup_pixelart($px, $height) {
    $size: $px * 16;

    width: $size;
    height: $px * $height;

    &::before {
      position: absolute;
      top: $px * -1;
      left: $px * -1;
      display: block;
      width: $size;
      height: $height;
      content: "";
      background: transparent;
    }

    &.snes-jp-logo::before {
      @include pixelize($snes-jp-logo, $snes-jp-logo-colors, $px);
    }
    &.snes-jp-logo.is-disabled::before {
      @include pixelize($snes-jp-logo-disabled, $snes-jp-logo-disabled-colors, $px);
    }
    &.snes-jp-logo.is-empty::before {
      @include pixelize($snes-jp-logo-empty, $snes-jp-logo-empty-colors, $px);
    }
  }

  // default
  @include setup_pixelart(3px, $snes-jp-logo-height);

  &.is-small {
    @include setup_pixelart(2px, $snes-jp-logo-height);
  }

  &.is-medium {
    @include setup_pixelart(4px, $snes-jp-logo-height);
  }

  &.is-large {
    @include setup_pixelart(5px, $snes-jp-logo-height);
  }
}

.nes-icon {
  position: relative;
  display: inline-block;

  @mixin setup($px) {
    $size: $px * 16;

    width: $size;
    height: $size;

    &::before {
      position: absolute;
      top: $px * -1;
      left: $px * -1;
      display: block;
      width: $size;
      height: $size;
      content: "";
      background: transparent;
    }

    &.heart::before {
      @include pixelize($icon-heart, $icon-heart-colors, $px);
    }
    &.heart.is-empty::before {
      @include pixelize($icon-heart-empty, $icon-heart-empty-colors, $px);
    }

    &.star::before {
      @include pixelize($icon-star, $icon-star-colors, $px);
    }
    &.star.is-empty::before {
      @include pixelize($icon-star-empty, $icon-star-empty-colors, $px);
    }

    &.trophy::before {
      @include pixelize($icon-trophy, $icon-trophy-colors, $px);
    }
    &.trophy.is-empty::before {
      @include pixelize($icon-trophy-empty, $icon-trophy-empty-colors, $px);
    }

    &.skull::before {
      @include pixelize($icon-skull, $icon-skull-colors, $px);
    }
    &.skull.is-empty::before {
      @include pixelize($icon-skull-empty, $icon-skull-empty-colors, $px);
    }
  }

  // default
  @include setup(2px);

  &.is-small {
    @include setup(1px);
  }

  &.is-medium {
    @include setup(3px);
  }

  &.is-large {
    @include setup(4px);
  }
}
