// reaction
@import "heart.scss";
@import "star.scss";

// others
@import "trophy.scss";

.nes-icon {
  position: relative;
  display: inline-block;

  @mixin setup($px) {
    $size: $px * 16;

    width: $size;
    height: $size;

    &::before {
      position: absolute;
      top: $px * -1;
      left: $px * -1;
      display: block;
      width: $size;
      height: $size;
      content: "";
      background: transparent;
    }

    &.heart::before {
      @include pixelize($icon-heart, $icon-heart-colors, $px);
    }
    &.heart.is-empty::before {
      @include pixelize($icon-heart-empty, $icon-heart-empty-colors, $px);
    }

    &.star::before {
      @include pixelize($icon-star, $icon-star-colors, $px);
    }
    &.star.is-empty::before {
      @include pixelize($icon-star-empty, $icon-star-empty-colors, $px);
    }
    &.star.is-transparent::before {
      @include pixelize($icon-star-transparent, $icon-star-colors, $px);
    }

    &.trophy::before {
      @include pixelize($icon-trophy, $icon-trophy-colors, $px);
    }
    &.trophy.is-empty::before {
      @include pixelize($icon-trophy-empty, $icon-trophy-empty-colors, $px);
    }
  }

  // default
  @include setup(2px);

  &.is-small {
    @include setup(1px);
  }

  &.is-medium {
    @include setup(3px);
  }

  &.is-large {
    @include setup(4px);
  }
}
