$snes-jp-logo-height: 11;

$snes-jp-logo-colors: (#333, #d7d7d7, #7dbb78, #999cf7, #f40500, #f6f504);
// prettier-ignore
$snes-jp-logo: (
(0,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
(0,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
(0,0,0,0,0,0,0,1,0,0,0,0,0,0,0),
(0,0,1,1,1,1,1,1,1,1,1,1,1,0,0),
(0,1,2,2,2,2,2,2,2,2,2,2,2,1,0),
(1,2,2,1,2,2,2,2,2,2,2,4,2,2,1),
(1,2,1,1,1,2,2,2,2,2,3,2,5,2,1),
(1,2,2,1,2,2,1,2,1,2,2,6,2,2,1),
(0,1,2,2,2,2,2,2,2,2,2,2,2,1,0),
(0,0,1,1,1,1,1,1,1,1,1,1,1,0,0)
);

$snes-jp-logo-disabled-colors: (#787973, #d7d7d7);

// prettier-ignore
$snes-jp-logo-disabled: (
(0,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
(0,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
(0,0,0,0,0,0,0,1,0,0,0,0,0,0,0),
(0,0,1,1,1,1,1,1,1,1,1,1,1,0,0),
(0,1,2,2,2,2,2,2,2,2,2,2,2,1,0),
(1,2,2,1,2,2,2,2,2,2,2,1,2,2,1),
(1,2,1,1,1,2,2,2,2,2,1,2,1,2,1),
(1,2,2,1,2,2,1,2,1,2,2,1,2,2,1),
(0,1,2,2,2,2,2,2,2,2,2,2,2,1,0),
(0,0,1,1,1,1,1,1,1,1,1,1,1,0,0)
);
